@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

body{
    background-image: url(../img/index_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    z-index: 1;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    margin-top: 2%;
    background-size: cover;
    border-width: 5px;
    border: solid;
    border-radius: 100px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

#border{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 730px;
    width: 800px;
    border: solid;
    border-width: 5px;
    border-radius: 100px;
    border-color: black;
    background-color: white; */
}


#signup{
    z-index: 1;
    width: 80%;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(192, 247, 192, 0.45);
    margin-top: 8px;
    padding: 10px;
    text-align: center;
}

#signin{
    z-index: 1;
    width: 80%;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(234, 176, 240, 0.45);
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

#signgoogle{
    z-index: 1;
    width: 80%;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(173, 195, 236, 0.45);
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.txt{
    width: 50%;
}

@media (min-width: 0px) {
    #header {
        padding: 8px;
        font-size: 16px;
    }
}

@media (min-width: 218px) {
    #header {
        padding: 10px;
        font-size: 24px;
    }
}

@media (min-width: 767.98px) {
    #header {
        padding: 10px;
        font-size: 36px;
    }
}

@media (min-width: 975.98px) {
    #header {
        padding: 10px;
        font-size: 45px;
    }
}




*,
*::before,
*::after {
	box-sizing: border-box;
}


.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

.bird--one{
    animation-duration: 0.9s;
	animation-delay: -0.75s;
}

.bird--two{
    animation-duration: 1s;
	animation-delay: -0.5s;	
}

.bird--three{
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird--four{
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.bird-container--one{
    animation-duration: 15s;
    animation-delay: 0;
}
.bird-container--two{
    animation-duration: 16s;
    animation-delay: 1s;
}
.bird-container--three{
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}
.bird-container--four{
    animation-duration: 16s;
    animation-delay: 10.25s;
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}
