body{
    background-image: url(../img/myroom_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#container{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#RoomName{
    display: inline;
    margin-top: 20px;
    width: 70%;
    height: 50px;
}

#BtnAddroom{
    background-color: rgba(149, 229, 185, 0.35);
    margin-top: 30px;
    height: 50px;
    width: 70%;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
}

#BtnAddroom:hover{
    background-color: rgba(81, 178, 235, 0.55);
    cursor: pointer;
}

.Btn:hover{
    background-color: rgba(81, 178, 235, 0.50);
    cursor: pointer;
}

#Addarea{
    background-color: rgba(250, 187, 247, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 500px;
    overflow: scroll;
    margin-top: 20px;
}

.Btn{
    width: 60%;
    height: 10%;
    line-height: 40px;
    margin-top: 30px;
    background-color: rgba(172, 184, 255, 0.45);
    text-align: center;
    border-radius: 30px;
}