body{
    background-image: url(../img/public_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-fluid{
    display: flex; 
    width: 100%;
    height: 800px;  
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    align-items: center;
}

#chat_room{
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: scroll;
}

.item{
    margin-top: 10px;
}

#text{
    width: 80%;
    height: 7%;
}

#up{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 3%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(210, 105, 30, 0.6);
}

#up p{
    margin-bottom: 0px;
}

#up:hover{
    cursor: pointer;
}

#post_btn{
    width: 80%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(78, 218, 223, 0.5);
}

.mastermessage{
    display: inline;
    display: inline-block !important;
    float: right;
    background-color: rgba(14, 191, 223, 0.5);
    color: white;
    border-radius: 20px;
    padding: 5px 8px;   
}

.clientmessage{
    display: inline;
    display: inline-block !important;
    border-radius: 20px;
    color: white;
    background-color: rgba(209, 171, 245, 0.5);
    padding: 5px 8px;
}


.mastermsg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}

.clientmsg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}
